<a href="https://colab.research.google.com/github/juliaradula/rhizomucor_miehei_transcriptome/blob/main/transcriptome_dataframe_modifications.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#importar bibliotecas que serao utiizadas
import pandas as pd
import numpy as np
from google.colab import files

In [ ]:
#carregar dados de anotacao funcional (Trinotate)
#os arquivos estao no google drive
#o endereco do arquivo pode ser copiado clicando nos tres pontinhos
#a direita do nome do arquivo e selecionar 'copy path'
#aqui o arquivo selecionado eh 'Trinotate.RMA.xls'
#para usar outro arquivo substitua '/content/drive/MyDrive/RMA/Trinotate.RMA.xls'
#pelo endereco desejado

trinotate = pd.read_csv("/content/drive/MyDrive/RMA/Trinotate.RMA.xls", sep="\t")

#o codigo seguinte '.head()' retorna as primeiras 5 linhas do arquivo
trinotate.head()

               #gene_id            transcript_id  ... transcript peptide
0  TRINITY_DN5078_c0_g1  TRINITY_DN5078_c0_g1_i1  ...          .       .
1  TRINITY_DN5078_c0_g1  TRINITY_DN5078_c0_g1_i2  ...          .       .
2  TRINITY_DN5046_c0_g1  TRINITY_DN5046_c0_g1_i1  ...          .       .
3  TRINITY_DN5074_c0_g1  TRINITY_DN5074_c0_g1_i1  ...          .       .
4  TRINITY_DN5003_c0_g1  TRINITY_DN5003_c0_g1_i1  ...          .       .

[5 rows x 16 columns]

In [ ]:
#para conferir o tamanho da tabela
#nesse caso tem 69080 linhas e 16 colunas
trinotate.shape

(69080, 16)

In [ ]:
#carregar dados de abundancia
#assim como anteriormente, substitua o endereco entre aspas pelo
#endereco do arquivo desejado
abundancia = pd.read_csv("/content/drive/MyDrive/RMA/RMA.abundance.tsv", sep="\t")
abundancia.head()

                 target_id  length  eff_length  est_counts       tpm
0  TRINITY_DN5078_c0_g1_i1     629     479.808    11.47500  1.275230
1  TRINITY_DN5078_c0_g1_i2     675     525.785    15.52500  1.574440
2  TRINITY_DN5046_c0_g1_i1     595     445.808    20.00000  2.392140
3  TRINITY_DN5074_c0_g1_i1     583     433.808    18.00000  2.212480
4  TRINITY_DN5003_c0_g1_i1     685     535.785     4.16427  0.414431

In [ ]:
id = abundancia["target_id"].str.split("_", expand=True)
id.columns = ["0", "DN", "C", "G", "I"]
id.drop("0", axis=1, inplace=True)
id

            DN   C   G   I
0       DN5078  c0  g1  i1
1       DN5078  c0  g1  i2
2       DN5046  c0  g1  i1
3       DN5074  c0  g1  i1
4       DN5003  c0  g1  i1
...        ...  ..  ..  ..
69075  DN21000  c0  g1  i5
69076  DN21000  c0  g1  i6
69077  DN21000  c0  g1  i7
69078  DN21000  c0  g1  i8
69079  DN21026  c0  g1  i1

[69080 rows x 4 columns]

In [ ]:
len(id["DN"].unique())

20347

In [ ]:
id["tpm"] = abundancia["tpm"]
id

            DN   C   G   I        tpm
0       DN5078  c0  g1  i1   1.275230
1       DN5078  c0  g1  i2   1.574440
2       DN5046  c0  g1  i1   2.392140
3       DN5074  c0  g1  i1   2.212480
4       DN5003  c0  g1  i1   0.414431
...        ...  ..  ..  ..        ...
69075  DN21000  c0  g1  i5   2.804770
69076  DN21000  c0  g1  i6   1.522460
69077  DN21000  c0  g1  i7   3.152850
69078  DN21000  c0  g1  i8   1.155650
69079  DN21026  c0  g1  i1  14.905800

[69080 rows x 5 columns]

In [ ]:
id["tpm"].sum()

999999.9833278443

In [ ]:
id["C"].unique()

array(['c0', 'c1', 'c2', 'c3', 'c4', 'c5', 'c6'], dtype=object)

In [ ]:
id["G"].unique()

array(['g1', 'g2', 'g3', 'g4', 'g5', 'g6', 'g7', 'g8', 'g9', 'g10'],
      dtype=object)

In [ ]:
id["I"].unique()

array(['i1', 'i2', 'i3', 'i4', 'i5', 'i6', 'i7', 'i8', 'i9', 'i10', 'i11',
       'i12', 'i13', 'i14', 'i15', 'i16', 'i17', 'i18', 'i19', 'i20',
       'i21', 'i22', 'i23', 'i24', 'i25', 'i26', 'i27', 'i28', 'i29',
       'i30', 'i31', 'i32', 'i33', 'i34', 'i35', 'i36', 'i37', 'i38',
       'i39', 'i40', 'i41', 'i42', 'i43', 'i44', 'i45', 'i46', 'i47',
       'i48', 'i49', 'i50'], dtype=object)

In [ ]:
id = id.replace("^c", "", regex=True)
id = id.replace("^g", "", regex=True)
id = id.replace("^i", "", regex=True)
#id = id.replace("^DN", "", regex=True)
id = id.astype("float64", errors="ignore")
id = id.convert_dtypes()
id

            DN  C  G  I        tpm
0       DN5078  0  1  1   1.275230
1       DN5078  0  1  2   1.574440
2       DN5046  0  1  1   2.392140
3       DN5074  0  1  1   2.212480
4       DN5003  0  1  1   0.414431
...        ... .. .. ..        ...
69075  DN21000  0  1  5   2.804770
69076  DN21000  0  1  6   1.522460
69077  DN21000  0  1  7   3.152850
69078  DN21000  0  1  8   1.155650
69079  DN21026  0  1  1  14.905800

[69080 rows x 5 columns]

In [ ]:
id.drop("C", axis=1, inplace=True)
id.drop("G", axis=1, inplace=True)
id.drop("I", axis=1, inplace=True)
id

            DN        tpm
0       DN5078   1.275230
1       DN5078   1.574440
2       DN5046   2.392140
3       DN5074   2.212480
4       DN5003   0.414431
...        ...        ...
69075  DN21000   2.804770
69076  DN21000   1.522460
69077  DN21000   3.152850
69078  DN21000   1.155650
69079  DN21026  14.905800

[69080 rows x 2 columns]

In [ ]:
id_dict = id.to_dict("index")
id_dict

{0: {'DN': 'DN5078', 'tpm': 1.2752299999999999},
 1: {'DN': 'DN5078', 'tpm': 1.57444},
 2: {'DN': 'DN5046', 'tpm': 2.39214},
 3: {'DN': 'DN5074', 'tpm': 2.21248},
 4: {'DN': 'DN5003', 'tpm': 0.41443100000000005},
 5: {'DN': 'DN5003', 'tpm': 2.2664},
 6: {'DN': 'DN5043', 'tpm': 9.96112},
 7: {'DN': 'DN5030', 'tpm': 2.7106},
 8: {'DN': 'DN5030', 'tpm': 83.7852},
 9: {'DN': 'DN5061', 'tpm': 9.89356},
 10: {'DN': 'DN5028', 'tpm': 14.5851},
 11: {'DN': 'DN5028', 'tpm': 2.32368},
 12: {'DN': 'DN5023', 'tpm': 3.55035},
 13: {'DN': 'DN5023', 'tpm': 3.84081},
 14: {'DN': 'DN5058', 'tpm': 0.310177},
 15: {'DN': 'DN5058', 'tpm': 36.4571},
 16: {'DN': 'DN5058', 'tpm': 0.374837},
 17: {'DN': 'DN5014', 'tpm': 1.11043},
 18: {'DN': 'DN5014', 'tpm': 5.30736},
 19: {'DN': 'DN5014', 'tpm': 0.615356},
 20: {'DN': 'DN5062', 'tpm': 1.17201},
 21: {'DN': 'DN5062', 'tpm': 0.79715},
 22: {'DN': 'DN5062', 'tpm': 1.9005599999999998},
 23: {'DN': 'DN5049', 'tpm': 38.1482},
 24: {'DN': 'DN5055', 'tpm': 2.0497400000000003},
 25: {'DN': 'DN5055', 'tpm': 23.1568},
 26: {'DN': 'DN5055', 'tpm': 2.23401},
 27: {'DN': 'DN5022', 'tpm': 11.9675},
 28: {'DN': 'DN5035', 'tpm': 1.90884},
 29: {'DN': 'DN5035', 'tpm': 3.12355},
 30: {'DN': 'DN5092', 'tpm': 10.5978},
 31: {'DN': 'DN5073', 'tpm': 2.32513},
 32: {'DN': 'DN5073', 'tpm': 1.5045},
 33: {'DN': 'DN5056', 'tpm': 1.55461},
 34: {'DN': 'DN5056', 'tpm': 1.6517700000000002},
 35: {'DN': 'DN5098', 'tpm': 1.2297},
 36: {'DN': 'DN5029', 'tpm': 3.9737699999999996},
 37: {'DN': 'DN5017', 'tpm': 11.332},
 38: {'DN': 'DN5017', 'tpm': 10.5339},
 39: {'DN': 'DN5047', 'tpm': 3.64341},
 40: {'DN': 'DN5047', 'tpm': 3.4621},
 41: {'DN': 'DN5018', 'tpm': 13.187000000000001},
 42: {'DN': 'DN5004', 'tpm': 4.191669999999999},
 43: {'DN': 'DN5026', 'tpm': 9.31986},
 44: {'DN': 'DN5071', 'tpm': 2.79942},
 45: {'DN': 'DN5071', 'tpm': 2.03207},
 46: {'DN': 'DN5075', 'tpm': 12.095999999999998},
 47: {'DN': 'DN5075', 'tpm': 0.38506599999999996},
 48: {'DN': 'DN5001', 'tpm': 15.5466},
 49: {'DN': 'DN5001', 'tpm': 4.22086},
 50: {'DN': 'DN5001', 'tpm': 38.0444},
 51: {'DN': 'DN5054', 'tpm': 8.466560000000001},
 52: {'DN': 'DN5054', 'tpm': 55.6909},
 53: {'DN': 'DN5012', 'tpm': 1.55798},
 54: {'DN': 'DN5012', 'tpm': 0.45549799999999996},
 55: {'DN': 'DN5012', 'tpm': 3.91244},
 56: {'DN': 'DN5053', 'tpm': 2.38004},
 57: {'DN': 'DN5053', 'tpm': 3.18845},
 58: {'DN': 'DN5010', 'tpm': 13.9449},
 59: {'DN': 'DN5063', 'tpm': 1.8415099999999998},
 60: {'DN': 'DN5063', 'tpm': 2.51115},
 61: {'DN': 'DN5084', 'tpm': 0.5754729999999999},
 62: {'DN': 'DN5084', 'tpm': 2.12442},
 63: {'DN': 'DN5033', 'tpm': 25.6577},
 64: {'DN': 'DN5033', 'tpm': 358.05300000000005},
 65: {'DN': 'DN5045', 'tpm': 582.133},
 66: {'DN': 'DN5066', 'tpm': 2.31406},
 67: {'DN': 'DN5066', 'tpm': 3.7744699999999995},
 68: {'DN': 'DN5064', 'tpm': 0.953421},
 69: {'DN': 'DN5064', 'tpm': 4.95236},
 70: {'DN': 'DN5096', 'tpm': 4.35116},
 71: {'DN': 'DN5096', 'tpm': 2.3676},
 72: {'DN': 'DN5038', 'tpm': 5.69321},
 73: {'DN': 'DN5038', 'tpm': 4.79922},
 74: {'DN': 'DN5065', 'tpm': 0.9402780000000001},
 75: {'DN': 'DN5065', 'tpm': 1.70725},
 76: {'DN': 'DN5007', 'tpm': 37.3502},
 77: {'DN': 'DN5007', 'tpm': 37.0019},
 78: {'DN': 'DN5095', 'tpm': 16.4102},
 79: {'DN': 'DN5095', 'tpm': 37.8995},
 80: {'DN': 'DN5008', 'tpm': 3.73821},
 81: {'DN': 'DN5080', 'tpm': 4.11437},
 82: {'DN': 'DN5042', 'tpm': 0.6692239999999999},
 83: {'DN': 'DN5042', 'tpm': 1.05247},
 84: {'DN': 'DN5042', 'tpm': 0.538701},
 85: {'DN': 'DN5042', 'tpm': 0.29115},
 86: {'DN': 'DN5094', 'tpm': 4.9688099999999995},
 87: {'DN': 'DN5019', 'tpm': 2.22959},
 88: {'DN': 'DN5019', 'tpm': 0.9180659999999999},
 89: {'DN': 'DN5052', 'tpm': 2.8884},
 90: {'DN': 'DN5052', 'tpm': 1.59952},
 91: {'DN': 'DN5052', 'tpm': 0.385917},
 92: {'DN': 'DN5052', 'tpm': 0.689204},
 93: {'DN': 'DN5086', 'tpm': 0.8674129999999999},
 94: {'DN': 'DN5086', 'tpm': 5.3769800000000005},
 95: {'DN': 'DN5086', 'tpm': 1.1345},
 96: {'DN': 'DN5009', 'tpm': 1.27893},
 97: {'DN': 'DN5009', 'tpm': 1.5964},
 98: {'DN': 'DN5051', 'tpm': 6.51957},
 99: {'DN': 'DN5025', 'tpm': 5.37456},
 100: {'DN': 'DN5027', 'tpm': 7.834639999999999},
 101: {'DN': 'DN5027', 'tpm': 0.84057},
 102: {'DN': 'DN5011', 'tpm': 2.22727},
 103: {'DN': 'DN5067', 'tpm': 4.113659999999999},
 104: {'DN': 'DN5085', 'tpm': 3.8285699999999996},
 105: {'DN': 'DN5005', 'tpm': 12.2423},
 106: {'DN': 'DN5091', 'tpm': 7.720039999999999},
 107: {'DN': 'DN5044', 'tpm': 1.96212},
 108: {'DN': 'DN5024', 'tpm': 2.28776},
 109: {'DN': 'DN5024', 'tpm': 1.35172},
 110: {'DN': 'DN5082', 'tpm': 7.4001},
 111: {'DN': 'DN5082', 'tpm': 2.89603},
 112: {'DN': 'DN5040', 'tpm': 2.29906},
 113: {'DN': 'DN5002', 'tpm': 24.5375},
 114: {'DN': 'DN5037', 'tpm': 2.94004},
 115: {'DN': 'DN12912', 'tpm': 20.8773},
 116: {'DN': 'DN12912', 'tpm': 28.2663},
 117: {'DN': 'DN12917', 'tpm': 0.5696220000000001},
 118: {'DN': 'DN12917', 'tpm': 4.83455},
 119: {'DN': 'DN12926', 'tpm': 11.0408},
 120: {'DN': 'DN12981', 'tpm': 1.27809},
 121: {'DN': 'DN12981', 'tpm': 3.44467},
 122: {'DN': 'DN12981', 'tpm': 14.2102},
 123: {'DN': 'DN12970', 'tpm': 28.3747},
 124: {'DN': 'DN12970', 'tpm': 1.4420600000000001},
 125: {'DN': 'DN12916', 'tpm': 7.59518},
 126: {'DN': 'DN12916', 'tpm': 1.60311},
 127: {'DN': 'DN12915', 'tpm': 0.12603399999999998},
 128: {'DN': 'DN12915', 'tpm': 0.254315},
 129: {'DN': 'DN12915', 'tpm': 0.451561},
 130: {'DN': 'DN12915', 'tpm': 0.06285700000000001},
 131: {'DN': 'DN12915', 'tpm': 0.0875517},
 132: {'DN': 'DN12915', 'tpm': 0.0},
 133: {'DN': 'DN12915', 'tpm': 0.648285},
 134: {'DN': 'DN12915', 'tpm': 0.21546500000000002},
 135: {'DN': 'DN12915', 'tpm': 0.26355300000000004},
 136: {'DN': 'DN12915', 'tpm': 0.464769},
 137: {'DN': 'DN12915', 'tpm': 0.156888},
 138: {'DN': 'DN12915', 'tpm': 0.049235400000000006},
 139: {'DN': 'DN12915', 'tpm': 0.226806},
 140: {'DN': 'DN12915', 'tpm': 0.710639},
 141: {'DN': 'DN12915', 'tpm': 0.25142800000000004},
 142: {'DN': 'DN12915', 'tpm': 0.0314488},
 143: {'DN': 'DN12915', 'tpm': 0.37705},
 144: {'DN': 'DN12915', 'tpm': 0.140211},
 145: {'DN': 'DN12915', 'tpm': 0.431805},
 146: {'DN': 'DN12915', 'tpm': 0.251749},
 147: {'DN': 'DN12915', 'tpm': 0.14369200000000001},
 148: {'DN': 'DN12975', 'tpm': 3.10295},
 149: {'DN': 'DN12975', 'tpm': 4.79431},
 150: {'DN': 'DN12975', 'tpm': 1.10344},
 151: {'DN': 'DN12975', 'tpm': 3.63816},
 152: {'DN': 'DN12964', 'tpm': 13.0522},
 153: {'DN': 'DN12938', 'tpm': 5.288069999999999},
 154: {'DN': 'DN12938', 'tpm': 6.654710000000001},
 155: {'DN': 'DN12904', 'tpm': 17.444000000000003},
 156: {'DN': 'DN12904', 'tpm': 13.3102},
 157: {'DN': 'DN12904', 'tpm': 8.53938},
 158: {'DN': 'DN12978', 'tpm': 3.4702800000000003},
 159: {'DN': 'DN12978', 'tpm': 0.6534909999999999},
 160: {'DN': 'DN12978', 'tpm': 4.12188},
 161: {'DN': 'DN12978', 'tpm': 22.1782},
 162: {'DN': 'DN12952', 'tpm': 1.52264},
 163: {'DN': 'DN12952', 'tpm': 2.5322299999999998},
 164: {'DN': 'DN12952', 'tpm': 3.3194800000000004},
 165: {'DN': 'DN12948', 'tpm': 3.14266},
 166: {'DN': 'DN12948', 'tpm': 5.23836},
 167: {'DN': 'DN12948', 'tpm': 77.8413},
 168: {'DN': 'DN12993', 'tpm': 48.848},
 169: {'DN': 'DN12993', 'tpm': 8.165280000000001},
 170: {'DN': 'DN12943', 'tpm': 6.2916099999999995},
 171: {'DN': 'DN12943', 'tpm': 2.19542},
 172: {'DN': 'DN12980', 'tpm': 3.24436},
 173: {'DN': 'DN12980', 'tpm': 1.95816},
 174: {'DN': 'DN12980', 'tpm': 1.36405},
 175: {'DN': 'DN12980', 'tpm': 2.07953},
 176: {'DN': 'DN12980', 'tpm': 8.33411},
 177: {'DN': 'DN12980', 'tpm': 1.0905799999999999},
 178: {'DN': 'DN12976', 'tpm': 13.2795},
 179: {'DN': 'DN12909', 'tpm': 1.7906},
 180: {'DN': 'DN12909', 'tpm': 0.429162},
 181: {'DN': 'DN12909', 'tpm': 0.597228},
 182: {'DN': 'DN12909', 'tpm': 0.0973685},
 183: {'DN': 'DN12909', 'tpm': 0.164688},
 184: {'DN': 'DN12909', 'tpm': 3.41759},
 185: {'DN': 'DN12906', 'tpm': 7.56595},
 186: {'DN': 'DN12906', 'tpm': 0.585624},
 187: {'DN': 'DN12906', 'tpm': 0.21803499999999998},
 188: {'DN': 'DN12906', 'tpm': 4.952780000000001},
 189: {'DN': 'DN12906', 'tpm': 14.1888},
 190: {'DN': 'DN12953', 'tpm': 12.1983},
 191: {'DN': 'DN12950', 'tpm': 13.9972},
 192: {'DN': 'DN12982', 'tpm': 6.15171e-05},
 193: {'DN': 'DN12982', 'tpm': 1.32017},
 194: {'DN': 'DN12982', 'tpm': 0.312795},
 195: {'DN': 'DN12982', 'tpm': 2.90328},
 196: {'DN': 'DN12982', 'tpm': 4.51451},
 197: {'DN': 'DN12982', 'tpm': 3.6311099999999997e-06},
 198: {'DN': 'DN12977', 'tpm': 41.6913},
 199: {'DN': 'DN12977', 'tpm': 5.05711},
 200: {'DN': 'DN12959', 'tpm': 0.8378610000000001},
 201: {'DN': 'DN12959', 'tpm': 0.475391},
 202: {'DN': 'DN12959', 'tpm': 3.54491},
 203: {'DN': 'DN12959', 'tpm': 0.9940610000000001},
 204: {'DN': 'DN12959', 'tpm': 2.28253},
 205: {'DN': 'DN12959', 'tpm': 9.32197},
 206: {'DN': 'DN12959', 'tpm': 1.90737},
 207: {'DN': 'DN12965', 'tpm': 2.84309},
 208: {'DN': 'DN12965', 'tpm': 5.4298},
 209: {'DN': 'DN12965', 'tpm': 5.001180000000001},
 210: {'DN': 'DN12940', 'tpm': 367.842},
 211: {'DN': 'DN12940', 'tpm': 240.833},
 212: {'DN': 'DN12910', 'tpm': 4.47452},
 213: {'DN': 'DN12910', 'tpm': 3.0421099999999996},
 214: {'DN': 'DN12910', 'tpm': 17.5933},
 215: {'DN': 'DN12910', 'tpm': 11.4753},
 216: {'DN': 'DN12935', 'tpm': 37.243},
 217: {'DN': 'DN12935', 'tpm': 7.1412},
 218: {'DN': 'DN12935', 'tpm': 7.68462},
 219: {'DN': 'DN12935', 'tpm': 8.44},
 220: {'DN': 'DN12949', 'tpm': 2.19258},
 221: {'DN': 'DN12949', 'tpm': 9.29066},
 222: {'DN': 'DN12949', 'tpm': 1.0113299999999998},
 223: {'DN': 'DN12949', 'tpm': 12.4876},
 224: {'DN': 'DN12963', 'tpm': 0.447141},
 225: {'DN': 'DN12963', 'tpm': 1.20908},
 226: {'DN': 'DN12963', 'tpm': 0.41258100000000003},
 227: {'DN': 'DN12963', 'tpm': 0.162241},
 228: {'DN': 'DN12963', 'tpm': 0.7515069999999999},
 229: {'DN': 'DN12963', 'tpm': 0.691584},
 230: {'DN': 'DN12918', 'tpm': 0.65044},
 231: {'DN': 'DN12918', 'tpm': 0.000201689},
 232: {'DN': 'DN12918', 'tpm': 3.44308},
 233: {'DN': 'DN12918', 'tpm': 23.6147},
 234: {'DN': 'DN12918', 'tpm': 0.390229},
 235: {'DN': 'DN12921', 'tpm': 3.66419},
 236: {'DN': 'DN12921', 'tpm': 1.62038},
 237: {'DN': 'DN12921', 'tpm': 7.1395},
 238: {'DN': 'DN12998', 'tpm': 2.7196599999999997},
 239: {'DN': 'DN12998', 'tpm': 22.2737},
 240: {'DN': 'DN12998', 'tpm': 4.87898},
 241: {'DN': 'DN12998', 'tpm': 6.277419999999999},
 242: {'DN': 'DN12998', 'tpm': 8.16356},
 243: {'DN': 'DN12998', 'tpm': 10.5583},
 244: {'DN': 'DN12983', 'tpm': 2.97392},
 245: {'DN': 'DN12983', 'tpm': 1.8986},
 246: {'DN': 'DN12983', 'tpm': 9.753589999999999},
 247: {'DN': 'DN12966', 'tpm': 0.537408},
 248: {'DN': 'DN12966', 'tpm': 2.0402099999999996},
 249: {'DN': 'DN12966', 'tpm': 1.97271},
 250: {'DN': 'DN12966', 'tpm': 0.5217310000000001},
 251: {'DN': 'DN12966', 'tpm': 1.1566},
 252: {'DN': 'DN12966', 'tpm': 3.32419},
 253: {'DN': 'DN12958', 'tpm': 1.25705},
 254: {'DN': 'DN12958', 'tpm': 3.09694},
 255: {'DN': 'DN12958', 'tpm': 0.8726430000000001},
 256: {'DN': 'DN12958', 'tpm': 2.56241},
 257: {'DN': 'DN12958', 'tpm': 0.9048790000000001},
 258: {'DN': 'DN12958', 'tpm': 2.9526},
 259: {'DN': 'DN12958', 'tpm': 0.0},
 260: {'DN': 'DN12958', 'tpm': 0.780184},
 261: {'DN': 'DN12901', 'tpm': 19.0576},
 262: {'DN': 'DN12901', 'tpm': 9.44685},
 263: {'DN': 'DN12927', 'tpm': 5.97473},
 264: {'DN': 'DN12927', 'tpm': 0.29141},
 265: {'DN': 'DN12927', 'tpm': 1.9766700000000001},
 266: {'DN': 'DN12927', 'tpm': 5.5016},
 267: {'DN': 'DN12927', 'tpm': 1.9807700000000001},
 268: {'DN': 'DN12927', 'tpm': 0.8576520000000001},
 269: {'DN': 'DN12927', 'tpm': 0.761904},
 270: {'DN': 'DN12927', 'tpm': 14.3205},
 271: {'DN': 'DN12974', 'tpm': 22.655},
 272: {'DN': 'DN12974', 'tpm': 3.78589},
 273: {'DN': 'DN12930', 'tpm': 250.451},
 274: {'DN': 'DN12930', 'tpm': 254.921},
 275: {'DN': 'DN12925', 'tpm': 148.062},
 276: {'DN': 'DN12925', 'tpm': 7.16697},
 277: {'DN': 'DN12961', 'tpm': 19.3748},
 278: {'DN': 'DN12961', 'tpm': 34.8731},
 279: {'DN': 'DN12934', 'tpm': 15.9721},
 280: {'DN': 'DN12934', 'tpm': 0.0},
 281: {'DN': 'DN12934', 'tpm': 3.83461},
 282: {'DN': 'DN12931', 'tpm': 3.5666599999999997},
 283: {'DN': 'DN12931', 'tpm': 3.4112400000000003},
 284: {'DN': 'DN12960', 'tpm': 9.25357},
 285: {'DN': 'DN12960', 'tpm': 5.34018},
 286: {'DN': 'DN12960', 'tpm': 11.425999999999998},
 287: {'DN': 'DN12960', 'tpm': 3.9291199999999997},
 288: {'DN': 'DN12962', 'tpm': 4.28383},
 289: {'DN': 'DN12962', 'tpm': 3.57724},
 290: {'DN': 'DN12994', 'tpm': 11.9051},
 291: {'DN': 'DN12994', 'tpm': 23.0078},
 292: {'DN': 'DN12994', 'tpm': 2.0902700000000003},
 293: {'DN': 'DN12990', 'tpm': 26.8114},
 294: {'DN': 'DN12990', 'tpm': 21.9794},
 295: {'DN': 'DN12990', 'tpm': 26.9401},
 296: {'DN': 'DN12990', 'tpm': 49.876999999999995},
 297: {'DN': 'DN12951', 'tpm': 75.6421},
 298: {'DN': 'DN12951', 'tpm': 55.9626},
 299: {'DN': 'DN12951', 'tpm': 5.14784},
 300: {'DN': 'DN12951', 'tpm': 13.4996},
 301: {'DN': 'DN12900', 'tpm': 4.65019},
 302: {'DN': 'DN12971', 'tpm': 20.1895},
 303: {'DN': 'DN12971', 'tpm': 3.29735},
 304: {'DN': 'DN12923', 'tpm': 9.365169999999999},
 305: {'DN': 'DN12923', 'tpm': 20.8487},
 306: {'DN': 'DN12923', 'tpm': 10.9791},
 307: {'DN': 'DN12922', 'tpm': 5.42969},
 308: {'DN': 'DN12922', 'tpm': 9.60323},
 309: {'DN': 'DN12922', 'tpm': 1.56867},
 310: {'DN': 'DN12954', 'tpm': 4.895},
 311: {'DN': 'DN12954', 'tpm': 3.7165800000000004},
 312: {'DN': 'DN12973', 'tpm': 4.48642},
 313: {'DN': 'DN12919', 'tpm': 4.6315},
 314: {'DN': 'DN12919', 'tpm': 0.633386},
 315: {'DN': 'DN12919', 'tpm': 11.380999999999998},
 316: {'DN': 'DN12944', 'tpm': 3.8466199999999997},
 317: {'DN': 'DN12944', 'tpm': 4.79381},
 318: {'DN': 'DN12944', 'tpm': 3.21126},
 319: {'DN': 'DN12944', 'tpm': 2.6729},
 320: {'DN': 'DN12941', 'tpm': 12.6553},
 321: {'DN': 'DN12941', 'tpm': 10.5696},
 322: {'DN': 'DN12941', 'tpm': 7.06331},
 323: {'DN': 'DN12941', 'tpm': 4.8106599999999995},
 324: {'DN': 'DN12941', 'tpm': 33.3534},
 325: {'DN': 'DN12941', 'tpm': 3.92909},
 326: {'DN': 'DN12941', 'tpm': 13.6738},
 327: {'DN': 'DN12988', 'tpm': 9.07373},
 328: {'DN': 'DN12988', 'tpm': 3.05625},
 329: {'DN': 'DN12988', 'tpm': 6.33067},
 330: {'DN': 'DN12920', 'tpm': 4.49958},
 331: {'DN': 'DN12920', 'tpm': 8.40061},
 332: {'DN': 'DN12955', 'tpm': 1.7872299999999999},
 333: {'DN': 'DN12955', 'tpm': 4.63166},
 334: {'DN': 'DN12932', 'tpm': 5.46315},
 335: {'DN': 'DN12932', 'tpm': 5.2628},
 336: {'DN': 'DN12942', 'tpm': 0.683875},
 337: {'DN': 'DN12942', 'tpm': 0.360583},
 338: {'DN': 'DN12942', 'tpm': 1.06134},
 339: {'DN': 'DN12942', 'tpm': 0.59146},
 340: {'DN': 'DN12942', 'tpm': 0.454891},
 341: {'DN': 'DN12942', 'tpm': 2.05438},
 342: {'DN': 'DN12942', 'tpm': 0.24897800000000003},
 343: {'DN': 'DN12942', 'tpm': 0.606322},
 344: {'DN': 'DN12913', 'tpm': 3.0598},
 345: {'DN': 'DN12913', 'tpm': 1.88464},
 346: {'DN': 'DN12913', 'tpm': 1.03017},
 347: {'DN': 'DN12913', 'tpm': 4.13821},
 348: {'DN': 'DN12984', 'tpm': 1.94425},
 349: {'DN': 'DN12984', 'tpm': 8.23},
 350: {'DN': 'DN12984', 'tpm': 5.97264},
 351: {'DN': 'DN12967', 'tpm': 10.7006},
 352: {'DN': 'DN12967', 'tpm': 42.7921},
 353: {'DN': 'DN12903', 'tpm': 1.6981},
 354: {'DN': 'DN12903', 'tpm': 0.525456},
 355: {'DN': 'DN12903', 'tpm': 3.15352},
 356: {'DN': 'DN12903', 'tpm': 0.241323},
 357: {'DN': 'DN12985', 'tpm': 18.937},
 358: {'DN': 'DN12985', 'tpm': 6.725289999999999},
 359: {'DN': 'DN12985', 'tpm': 43.9072},
 360: {'DN': 'DN12985', 'tpm': 2.66585},
 361: {'DN': 'DN12985', 'tpm': 0.264069},
 362: {'DN': 'DN12985', 'tpm': 2.8407299999999998},
 363: {'DN': 'DN12991', 'tpm': 7.959739999999999},
 364: {'DN': 'DN12999', 'tpm': 20.3197},
 365: {'DN': 'DN12999', 'tpm': 13.299000000000001},
 366: {'DN': 'DN12996', 'tpm': 16.183},
 367: {'DN': 'DN12996', 'tpm': 14.0456},
 368: {'DN': 'DN12957', 'tpm': 3.6801199999999996},
 369: {'DN': 'DN12957', 'tpm': 4.020980000000001},
 370: {'DN': 'DN12957', 'tpm': 0.869028},
 371: {'DN': 'DN12957', 'tpm': 0.774938},
 372: {'DN': 'DN12914', 'tpm': 0.386449},
 373: {'DN': 'DN12914', 'tpm': 36.3484},
 374: {'DN': 'DN12914', 'tpm': 5.63836},
 375: {'DN': 'DN12914', 'tpm': 11.5267},
 376: {'DN': 'DN12995', 'tpm': 43.0464},
 377: {'DN': 'DN12995', 'tpm': 55.257},
 378: {'DN': 'DN12969', 'tpm': 4.82947},
 379: {'DN': 'DN12969', 'tpm': 0.188998},
 380: {'DN': 'DN12969', 'tpm': 2.8685400000000003},
 381: {'DN': 'DN12969', 'tpm': 0.7184470000000001},
 382: {'DN': 'DN12969', 'tpm': 1.17537},
 383: {'DN': 'DN12969', 'tpm': 0.0629744},
 384: {'DN': 'DN12911', 'tpm': 8.00955},
 385: {'DN': 'DN12911', 'tpm': 2.76233},
 386: {'DN': 'DN12911', 'tpm': 2.46272},
 387: {'DN': 'DN12997', 'tpm': 0.25354299999999996},
 388: {'DN': 'DN12997', 'tpm': 0.651935},
 389: {'DN': 'DN12997', 'tpm': 0.000387184},
 390: {'DN': 'DN12997', 'tpm': 0.168347},
 391: {'DN': 'DN12997', 'tpm': 0.47393199999999996},
 392: {'DN': 'DN12997', 'tpm': 0.00046936300000000004},
 393: {'DN': 'DN12997', 'tpm': 1.28922},
 394: {'DN': 'DN12997', 'tpm': 0.8079270000000001},
 395: {'DN': 'DN12997', 'tpm': 0.353009},
 396: {'DN': 'DN12997', 'tpm': 0.556463},
 397: {'DN': 'DN12997', 'tpm': 1.51096},
 398: {'DN': 'DN12997', 'tpm': 0.298695},
 399: {'DN': 'DN12997', 'tpm': 0.999044},
 400: {'DN': 'DN12997', 'tpm': 0.955376},
 401: {'DN': 'DN12997', 'tpm': 0.35428000000000004},
 402: {'DN': 'DN12986', 'tpm': 0.727533},
 403: {'DN': 'DN12986', 'tpm': 0.533408},
 404: {'DN': 'DN12986', 'tpm': 1.18845},
 405: {'DN': 'DN12986', 'tpm': 5.40897},
 406: {'DN': 'DN12986', 'tpm': 3.82174},
 407: {'DN': 'DN12992', 'tpm': 1.01836},
 408: {'DN': 'DN12992', 'tpm': 27.5906},
 409: {'DN': 'DN12928', 'tpm': 0.998382},
 410: {'DN': 'DN12928', 'tpm': 61.7012},
 411: {'DN': 'DN12928', 'tpm': 18.0704},
 412: {'DN': 'DN12928', 'tpm': 5.93705},
 413: {'DN': 'DN12928', 'tpm': 2.03974},
 414: {'DN': 'DN12928', 'tpm': 2.72693},
 415: {'DN': 'DN12928', 'tpm': 2.2058},
 416: {'DN': 'DN12928', 'tpm': 2.38846},
 417: {'DN': 'DN12928', 'tpm': 0.502963},
 418: {'DN': 'DN12902', 'tpm': 19.7941},
 419: {'DN': 'DN12902', 'tpm': 7.2723},
 420: {'DN': 'DN12902', 'tpm': 2.07238},
 421: {'DN': 'DN12987', 'tpm': 40.5342},
 422: {'DN': 'DN12929', 'tpm': 5.33557},
 423: {'DN': 'DN12929', 'tpm': 4.06147},
 424: {'DN': 'DN12937', 'tpm': 3.3713300000000004},
 425: {'DN': 'DN12937', 'tpm': 4.84615},
 426: {'DN': 'DN12937', 'tpm': 0.0191124},
 427: {'DN': 'DN12989', 'tpm': 227.118},
 428: {'DN': 'DN12989', 'tpm': 398.17},
 429: {'DN': 'DN12946', 'tpm': 4.7094},
 430: {'DN': 'DN12946', 'tpm': 1.94613},
 431: {'DN': 'DN12945', 'tpm': 9.23729},
 432: {'DN': 'DN12945', 'tpm': 10.7516},
 433: {'DN': 'DN12972', 'tpm': 3.70765},
 434: {'DN': 'DN12972', 'tpm': 1.60622},
 435: {'DN': 'DN12907', 'tpm': 5.461130000000001},
 436: {'DN': 'DN12905', 'tpm': 0.308113},
 437: {'DN': 'DN12905', 'tpm': 8.76285},
 438: {'DN': 'DN12908', 'tpm': 2.60774},
 439: {'DN': 'DN12908', 'tpm': 3.00474},
 440: {'DN': 'DN12908', 'tpm': 33.0139},
 441: {'DN': 'DN12908', 'tpm': 1.50817},
 442: {'DN': 'DN12908', 'tpm': 3.92259},
 443: {'DN': 'DN12908', 'tpm': 11.9398},
 444: {'DN': 'DN12936', 'tpm': 70.2658},
 445: {'DN': 'DN12924', 'tpm': 0.214252},
 446: {'DN': 'DN12924', 'tpm': 1.37747},
 447: {'DN': 'DN12924', 'tpm': 2.41553},
 448: {'DN': 'DN12924', 'tpm': 8.27184},
 449: {'DN': 'DN12924', 'tpm': 0.0},
 450: {'DN': 'DN12924', 'tpm': 4.3611699999999995},
 451: {'DN': 'DN12924', 'tpm': 0.0},
 452: {'DN': 'DN12947', 'tpm': 8.68717},
 453: {'DN': 'DN12947', 'tpm': 2.03048},
 454: {'DN': 'DN12947', 'tpm': 21.6569},
 455: {'DN': 'DN12947', 'tpm': 38.3995},
 456: {'DN': 'DN12947', 'tpm': 4.04378},
 457: {'DN': 'DN12947', 'tpm': 1.60176},
 458: {'DN': 'DN12947', 'tpm': 4.48875},
 459: {'DN': 'DN12947', 'tpm': 1.9123},
 460: {'DN': 'DN12939', 'tpm': 11.5414},
 461: {'DN': 'DN12939', 'tpm': 1.34243},
 462: {'DN': 'DN12956', 'tpm': 3.7939},
 463: {'DN': 'DN12956', 'tpm': 0.594579},
 464: {'DN': 'DN12956', 'tpm': 1.72842},
 465: {'DN': 'DN12956', 'tpm': 0.621563},
 466: {'DN': 'DN12968', 'tpm': 3.0954900000000003},

In [ ]:
# for v in values:
    # novo_dict[v["id"]] = v["valor"] + novo_dict.get(v["id"], 0)

In [ ]:
soma_tpm_dict = {}
for i, v in id_dict.items():
  soma_tpm_dict[v["DN"]] = v["tpm"] + soma_tpm_dict.get(v["DN"], 0)

In [ ]:
soma_tpm_dict

{'DN5078': 2.8496699999999997,
 'DN5046': 2.39214,
 'DN5074': 2.21248,
 'DN5003': 2.680831,
 'DN5043': 9.96112,
 'DN5030': 86.4958,
 'DN5061': 9.89356,
 'DN5028': 16.90878,
 'DN5023': 7.391159999999999,
 'DN5058': 37.142114,
 'DN5014': 7.033146,
 'DN5062': 3.86972,
 'DN5049': 38.1482,
 'DN5055': 27.44055,
 'DN5022': 11.9675,
 'DN5035': 5.0323899999999995,
 'DN5092': 10.5978,
 'DN5073': 3.82963,
 'DN5056': 3.2063800000000002,
 'DN5098': 1.2297,
 'DN5029': 3.9737699999999996,
 'DN5017': 21.8659,
 'DN5047': 7.10551,
 'DN5018': 13.187000000000001,
 'DN5004': 4.191669999999999,
 'DN5026': 9.31986,
 'DN5071': 4.8314900000000005,
 'DN5075': 12.481065999999998,
 'DN5001': 57.81186,
 'DN5054': 64.15746,
 'DN5012': 5.925918,
 'DN5053': 5.568490000000001,
 'DN5010': 13.9449,
 'DN5063': 4.35266,
 'DN5084': 2.6998930000000003,
 'DN5033': 383.71070000000003,
 'DN5045': 582.133,
 'DN5066': 6.0885299999999996,
 'DN5064': 5.905780999999999,
 'DN5096': 6.71876,
 'DN5038': 10.492429999999999,
 'DN5065': 2.647528,
 'DN5007': 74.35210000000001,
 'DN5095': 54.30970000000001,
 'DN5008': 3.73821,
 'DN5080': 4.11437,
 'DN5042': 2.551545,
 'DN5094': 4.9688099999999995,
 'DN5019': 3.147656,
 'DN5052': 5.563041,
 'DN5086': 7.378893000000001,
 'DN5009': 2.87533,
 'DN5051': 6.51957,
 'DN5025': 5.37456,
 'DN5027': 8.67521,
 'DN5011': 2.22727,
 'DN5067': 4.113659999999999,
 'DN5085': 3.8285699999999996,
 'DN5005': 12.2423,
 'DN5091': 7.720039999999999,
 'DN5044': 1.96212,
 'DN5024': 3.63948,
 'DN5082': 10.29613,
 'DN5040': 2.29906,
 'DN5002': 24.5375,
 'DN5037': 2.94004,
 'DN12912': 49.143600000000006,
 'DN12917': 5.404172,
 'DN12926': 11.0408,
 'DN12981': 18.93296,
 'DN12970': 29.816760000000002,
 'DN12916': 9.19829,
 'DN12915': 5.3453428999999995,
 'DN12975': 12.638860000000001,
 'DN12964': 13.0522,
 'DN12938': 11.942779999999999,
 'DN12904': 39.293580000000006,
 'DN12978': 30.423851,
 'DN12952': 7.37435,
 'DN12948': 86.22232,
 'DN12993': 57.01328,
 'DN12943': 8.487029999999999,
 'DN12980': 18.07079,
 'DN12976': 13.2795,
 'DN12909': 6.496636499999999,
 'DN12906': 27.511189,
 'DN12953': 12.1983,
 'DN12950': 13.9972,
 'DN12982': 9.050820148209999,
 'DN12977': 46.74841,
 'DN12959': 19.364093,
 'DN12965': 13.274070000000002,
 'DN12940': 608.675,
 'DN12910': 36.585229999999996,
 'DN12935': 60.50882,
 'DN12949': 24.98217,
 'DN12963': 3.6741339999999996,
 'DN12918': 28.098650689,
 'DN12921': 12.42407,
 'DN12998': 54.87162000000001,
 'DN12983': 14.626109999999999,
 'DN12966': 9.552849,
 'DN12958': 12.426706,
 'DN12901': 28.50445,
 'DN12927': 31.665236,
 'DN12974': 26.440890000000003,
 'DN12930': 505.37199999999996,
 'DN12925': 155.22897,
 'DN12961': 54.2479,
 'DN12934': 19.80671,
 'DN12931': 6.9779,
 'DN12960': 29.94887,
 'DN12962': 7.86107,
 'DN12994': 37.00317,
 'DN12990': 125.60789999999999,
 'DN12951': 150.25214,
 'DN12900': 4.65019,
 'DN12971': 23.486849999999997,
 'DN12923': 41.19297,
 'DN12922': 16.60159,
 'DN12954': 8.61158,
 'DN12973': 4.48642,
 'DN12919': 16.645885999999997,
 'DN12944': 14.524589999999998,
 'DN12941': 86.05516,
 'DN12988': 18.46065,
 'DN12920': 12.90019,
 'DN12955': 6.41889,
 'DN12932': 10.725950000000001,
 'DN12942': 6.0618289999999995,
 'DN12913': 10.11282,
 'DN12984': 16.14689,
 'DN12967': 53.4927,
 'DN12903': 5.618399,
 'DN12985': 75.34013900000001,
 'DN12991': 7.959739999999999,
 'DN12999': 33.618700000000004,
 'DN12996': 30.2286,
 'DN12957': 9.345066000000001,
 'DN12914': 53.899908999999994,
 'DN12995': 98.3034,
 'DN12969': 9.8437994,
 'DN12911': 13.2346,
 'DN12997': 8.673587546999999,
 'DN12986': 11.680101,
 'DN12992': 28.60896,
 'DN12928': 96.57092499999997,
 'DN12902': 29.13878,
 'DN12987': 40.5342,
 'DN12929': 9.39704,
 'DN12937': 8.2365924,
 'DN12989': 625.288,
 'DN12946': 6.65553,
 'DN12945': 19.988889999999998,
 'DN12972': 5.31387,
 'DN12907': 5.461130000000001,
 'DN12905': 9.070963,
 'DN12908': 55.996939999999995,
 'DN12936': 70.2658,
 'DN12924': 16.640262,
 'DN12947': 82.82064,
 'DN12939': 12.88383,
 'DN12956': 6.738462,
 'DN12968': 60.72776,
 'DN12979': 14.031119,
 'DN9249': 4.607142,
 'DN9279': 10.96223,
 'DN9264': 6.18304,
 'DN9252': 8.983966,
 'DN9283': 9.766,
 'DN9257': 17.74558,
 'DN9299': 16.09762,
 'DN9229': 125.40783,
 'DN9271': 12.658,
 'DN9269': 8.279710000000001,
 'DN9225': 109.63889999999999,
 'DN9286': 37.18579,
 'DN9207': 8.436,
 'DN9287': 25.7464,
 'DN9272': 7.40514,
 'DN9280': 17.912,
 'DN9239': 49.8432,
 'DN9215': 14.32077,
 'DN9237': 17.88115,
 'DN9234': 2.928388,
 'DN9246': 12.062520000000001,
 'DN9296': 14.750119999999999,
 'DN9290': 71.95254,
 'DN9250': 10.85832,
 'DN9221': 50.84679,
 'DN9251': 38.795975999999996,
 'DN9241': 4.6525099999999995,
 'DN9219': 9.056766,
 'DN9233': 16.54749,
 'DN9235': 24.800040000000003,
 'DN9289': 234.0498,
 'DN9258': 29.2638,
 'DN9298': 6.71825,
 'DN9255': 6.93578,
 'DN9201': 8.5648,
 'DN9270': 8.86068,
 'DN9295': 33.85136,
 'DN9236': 6.96415,
 'DN9266': 45.939119999999996,
 'DN9223': 8.25329,
 'DN9260': 65.61486099999999,
 'DN9263': 4.150580000000001,
 'DN9213': 10.182120000000001,
 'DN9211': 25.6468,
 'DN9261': 4.50861,
 'DN9243': 16.03865,
 'DN9247': 12.55398,
 'DN9244': 27.0905,
 'DN9230': 4.07254,
 'DN9226': 20.9894,
 'DN9277': 81.1941,
 'DN9276': 36.110609999999994,
 'DN9214': 6.65763,
 'DN9284': 16.644000000000002,
 'DN9292': 4.81926,
 'DN9242': 28.2426,
 'DN9293': 22.17921,
 'DN9265': 6.20793,
 'DN9200': 5.377249,
 'DN9267': 9.762640000000001,
 'DN9220': 5.03074,
 'DN9240': 49.75383,
 'DN9259': 3.501778,
 'DN9217': 16.88651,
 'DN9204': 15.4688,
 'DN9288': 25.375824,
 'DN9282': 65.38841000000001,
 'DN9291': 14.96834,
 'DN9275': 236.21076,
 'DN9222': 12.212800000000001,
 'DN9228': 14.2045,
 'DN9285': 19.65746,
 'DN9253': 17.02208,
 'DN9297': 101.68151999999999,
 'DN9224': 21.890894999999997,
 'DN9248': 120.635900078292,
 'DN9216': 9.32118,
 'DN9232': 14.581302999999998,
 'DN9210': 90.6987,
 'DN9227': 3.212674,
 'DN9294': 4.912981,
 'DN9278': 5.8019701428,
 'DN9245': 4.373069999999999,
 'DN9203': 45.9548,
 'DN9238': 3.6977689999999996,
 'DN9274': 4.309118,
 'DN9262': 7.2063500000000005,
 'DN9231': 80.34761,
 'DN9205': 6.96147,
 'DN9209': 7.071384,
 'DN9254': 14.3388,
 'DN9268': 12.11879,
 'DN9202': 6.22499,
 'DN9273': 30.78278,
 'DN11068': 8.564350000000001,
 'DN11061': 33.887986,
 'DN11064': 3.3662099999999997,
 'DN11046': 10.84983,
 'DN11076': 103.071838,
 'DN11057': 8.92231,
 'DN11010': 6.26017,
 'DN11020': 9.312470000000001,
 'DN11052': 48.099199999999996,
 'DN11033': 15.9345,
 'DN11013': 36.94736,
 'DN11056': 86.5485,
 'DN11034': 7.718259999999999,
 'DN11096': 5.256880000000001,
 'DN11011': 52.75897,
 'DN11017': 45.2133,
 'DN11091': 6.77623,
 'DN11053': 8.71661,
 'DN11031': 6.648617999999999,
 'DN11054': 48.77154,
 'DN11088': 30.6943,
 'DN11094': 11.29429,
 'DN11093': 22.063209999999998,
 'DN11019': 48.485600000000005,
 'DN11037': 19.51737,
 'DN11081': 7.037330000000001,
 'DN11028': 18.26405,
 'DN11092': 4.949923,
 'DN11069': 20.0128,
 'DN11041': 4.37132,
 'DN11049': 24.7728,
 'DN11039': 7.319659000000001,
 'DN11065': 18.098689999999998,
 'DN11042': 13.96915,
 'DN11055': 6.983960000000001,
 'DN11044': 4.315313000000001,
 'DN11040': 20.01563,
 'DN11072': 8.53408,
 'DN11050': 15.846165999999998,
 'DN11036': 5.430429999999999,
 'DN11008': 115.2836,
 'DN11047': 90.0414,
 'DN11007': 15.445319999999999,
 'DN11089': 75.70594,
 'DN11080': 25.020020000000002,
 'DN11063': 15.14856,
 'DN11003': 4.96281,
 'DN11067': 39.50356000000001,
 'DN11078': 106.39991221999998,
 'DN11018': 19.89628,
 'DN11032': 2.37482,
 'DN11059': 378.94960000000003,
 'DN11030': 11.92653,
 'DN11029': 11.139199999999999,
 'DN11071': 9.420658,
 'DN11098': 23.218713,
 'DN11097': 16.635687,
 'DN11021': 5.36175,
 'DN11082': 7.30856,
 'DN11077': 71.25012,
 'DN11051': 40.327830000000006,
 'DN11066': 5.573390000000001,
 'DN11045': 12.041854,
 'DN11086': 6.575103,
 'DN11075': 48.3168,
 'DN11024': 17.839407,
 'DN11009': 3.796831,
 'DN11083': 41.431501,
 'DN11002': 16.1968,
 'DN11001': 12.623420000000001,
 'DN11000': 37.1865,
 'DN11038': 34.253789999999995,
 'DN11085': 10.5404200509342,
 'DN11074': 32.8719,
 'DN11070': 112.74558999999999,
 'DN11014': 6.9134899999999995,
 'DN11035': 32.6248,
 'DN11016': 52.579319999999996,
 'DN11079': 8.46969,
 'DN11087': 13.37895,
 'DN11012': 9.33724,
 'DN11043': 28.750500999999996,
 'DN11058': 40.13314,
 'DN11027': 18.228189999999998,
 'DN11090': 35.2035,
 'DN11004': 7.85131,
 'DN11023': 52.7587,
 'DN11048': 7.42428,
 'DN11015': 13.671607000000002,
 'DN11084': 31.982400000000002,
 'DN11022': 18.962139999999998,
 'DN11095': 20.99431,
 'DN11025': 11.764562999999999,
 'DN11005': 8.33065,
 'DN11006': 7.508240000000001,
 'DN11073': 10.38309,
 'DN11060': 14.80588,
 'DN11099': 8.43296,
 'DN11062': 59.23711,
 'DN7239': 12.7847,
 'DN7253': 3.60364,
 'DN7237': 7.128439999999999,
 'DN7230': 3.0111999999999997,
 'DN7267': 4.4236699999999995,
 'DN7299': 2.580716,
 'DN7272': 5.1909,
 'DN7249': 1.4816200000000002,
 'DN7217': 9.56761,
 'DN7284': 3.59198,
 'DN7219': 69.96791999999999,
 'DN7204': 5.45399,
 'DN7206': 5.823071,
 'DN7214': 10.6264,
 'DN7278': 17.30704,
 'DN7252': 4.5091687,
 'DN7238': 4.81306,
 'DN7293': 121.39057553399999,
 'DN7236': 20.22173,
 'DN7242': 4.004117,
 'DN7271': 2.8581,
 'DN7247': 3.84808,
 'DN7288': 35.02914,
 'DN7273': 14.520850000000001,
 'DN7235': 7.807797,
 'DN7292': 19.13865,
 'DN7226': 14.9595,
 'DN7280': 39.011725000000006,
 'DN7207': 5.82127,
 'DN7240': 9.6787,
 'DN7218': 17.43521,
 'DN7287': 8.536899,
 'DN7279': 12.2029,
 'DN7261': 11.400459999999999,
 'DN7268': 214.346548,
 'DN7231': 8.70466,
 'DN7212': 11.11137,
 'DN7286': 54.61247,
 'DN7254': 794.679,
 'DN7276': 145.4126,
 'DN7296': 23.4713,
 'DN7269': 55.77159,
 'DN7243': 62.9066,
 'DN7202': 2.4354283060500004,
 'DN7228': 93.92117999999999,
 'DN7241': 20.17297,
 'DN7255': 7.6767199999999995,
 'DN7257': 9.106269999999999,
 'DN7232': 17.91991,
 'DN7264': 6.223814,
 'DN7277': 14.0071,
 'DN7224': 4.05964,
 'DN7221': 29.47735,
 'DN7263': 48.525240000000004,
 'DN7201': 54.80539,
 'DN7274': 4.6608,
 'DN7246': 7.45943,
 'DN7211': 50.4867,
 'DN7233': 8.00513,
 'DN7290': 3.85926,
 'DN7229': 11.567969999999999,
 'DN7291': 4.488663,
 'DN7200': 8.30995,
 'DN7297': 4.64384,
 'DN7262': 2.9731050000000003,
 'DN7205': 3.9633599999999998,
 'DN7256': 7.7984100000000005,
 'DN7285': 3.838776,
 'DN7266': 5.22564,
 'DN7244': 10.5074,
 'DN7227': 7.75392,
 'DN7270': 22.796999999999997,
 'DN7258': 82.1542,
 'DN7209': 7.740760000000001,
 'DN7203': 6.90923,
 'DN7275': 25.627200000000002,
 'DN7298': 7.110723,
 'DN7220': 37.94583,
 'DN7225': 1.7618669999999998,
 'DN7294': 4.02547,
 'DN7248': 29.0437,
 'DN7215': 17.8664,
 'DN7259': 10.835687,
 'DN21450': 1.74544,
 'DN21444': 5.08552,
 'DN21437': 1.0346899999999999,
 'DN21409': 1.20624,
 'DN21467': 2.42868,
 'DN21435': 10.9792,
 'DN21460': 1.20208,
 'DN21481': 2.9902599999999997,
 'DN21418': 2.73915,
 'DN21426': 0.889049,
 'DN21400': 3.38389,
 'DN21405': 4.41076,
 'DN21421': 1.3554,
 'DN21414': 1.8838599999999999,
 'DN21498': 1.5613700000000001,
 'DN21474': 4.913819999999999,
 'DN21473': 3.4046199999999995,
 'DN21493': 2.0901099999999997,
 'DN21479': 5.49527,
 'DN21471': 1.0258,
 'DN21447': 0.7512989999999999,
 'DN21438': 5.56893,
 'DN21431': 5.39459,
 'DN21448': 27.7644,
 'DN21428': 2.82206,
 'DN21499': 2.35439,
 'DN21454': 1.41905,
 'DN21445': 1.9478900000000001,
 'DN21456': 1.72082,
 'DN21430': 11.0916,
 'DN21446': 3.7146199999999996,
 'DN21476': 2.92022,
 'DN21429': 1.64546,
 'DN21462': 2.51145,
 'DN21497': 1.48926,
 'DN21457': 3.47594,
 'DN21480': 3.39571,
 'DN21470': 14.8014,
 'DN21419': 1.46698,
 'DN21425': 4.53431,
 'DN21486': 2.3999900000000003,
 'DN21472': 4.36262,
 'DN21443': 3.05905,
 'DN21413': 3.90951,
 'DN21403': 3.07423,
 'DN21477': 2.82132,
 'DN21439': 2.65307,
 'DN21490': 1.4956,
 'DN21487': 5.08643,
 'DN21440': 2.319471,
 'DN21415': 3.03589,
 'DN21495': 2.19496,
 'DN21423': 5.3341400000000005,
 'DN21433': 1.82892,
 'DN21406': 2.50612,
 'DN21422': 2.5150099999999997,
 'DN21451': 1.8105200000000001,
 'DN21432': 1.8116599999999998,
 'DN21489': 3.9140699999999997,
 'DN21424': 5.4946,
 'DN21436': 2.9635,
 'DN21475': 1.6119700000000001,
 'DN21404': 1.40002,
 'DN21461': 3.57816,
 'DN21484': 8.49976,
 'DN21416': 2.1823,
 'DN21411': 1.5387600000000001,
 'DN21412': 4.00087,
 'DN21496': 3.1263099999999997,
 'DN21485': 3.3484300000000005,
 'DN21491': 1.99206,
 'DN21401': 3.5649,
 'DN21494': 2.8372900000000003,
 'DN21402': 2.3883900000000002,
 'DN21441': 1.25225,
 'DN21488': 14.52786,
 'DN21463': 11.4712,
 'DN21458': 2.4574599999999998,
 'DN21466': 2.26744,
 'DN21478': 2.72297,
 'DN21453': 2.0404,
 'DN21408': 2.58354,
 'DN21469': 2.01546,
 'DN21434': 4.98285,
 'DN21465': 2.17575,
 'DN21407': 2.2364599999999997,
 'DN21449': 2.05173,
 'DN21452': 1.23485,
 'DN21455': 1.20487,
 'DN21410': 1.87631,
 'DN21427': 6.08962,
 'DN21420': 3.10944,
 'DN21492': 14.0072,
 'DN21468': 2.01569,
 'DN21459': 3.82631,
 'DN21442': 1.03433,
 'DN21464': 2.9055400000000002,
 'DN21483': 1.56281,
 'DN21482': 3.18792,
 'DN21417': 2.06746,
 'DN10526': 4.561866,
 'DN10504': 10.031577,
 'DN10568': 11.762039999999999,
 'DN10584': 23.7384,
 'DN10552': 29.5644,
 'DN10528': 88.9159,
 'DN10531': 3.1839990000000005,
 'DN10535': 9.974535999999999,
 'DN10574': 15.532960999999998,
 'DN10541': 5.837276,
 'DN10579': 14.77432,
 'DN10510': 2.79389,
 'DN10543': 3.2264929999999996,
 'DN10591': 36.851528599999995,
 'DN10521': 5.22156,
 'DN10585': 9.34265,
 'DN10533': 17.620618999999998,
 'DN10597': 22.67308,
 'DN10532': 1327.8492880000001,
 'DN10539': 148.793702,
 'DN10527': 10.9033,
 'DN10553': 36.581140000000005,
 'DN10545': 32.22715,
 'DN10546': 24.459735000000002,
 'DN10507': 17.52872,
 'DN10554': 23.39724,
 'DN10562': 3.85,
 'DN10538': 15.021799999999999,
 'DN10512': 16.6527,
 'DN10537': 12.740441,
 'DN10524': 13.70834,
 'DN10575': 58.89864,
 'DN10564': 6.79356,
 'DN10599': 12.252743,
 'DN10548': 120.2981,
 'DN10520': 4.641431,
 'DN10595': 44.39361000000001,
 'DN10503': 10.745007000000001,
 'DN10569': 9.37909,
 'DN10516': 16.45328,
 'DN10522': 5.118894,
 'DN10514': 9.51582,
 'DN10547': 6.478960999999999,
 'DN10592': 3.1605350000000003,
 'DN10509': 8.170729999999999,
 'DN10515': 3.1523269999999997,
 'DN10593': 9.163620000000002,
 'DN10580': 42.9751,
 'DN10577': 37.13211,
 'DN10581': 14.737891999999999,
 'DN10517': 28.238365547815,
 'DN10523': 5.9974799999999995,
 'DN10596': 14.94732,
 'DN10506': 18.37086,
 'DN10560': 10.04266,
 'DN10511': 23.70154535,
 'DN10559': 7.7819899999999995,
 'DN10561': 59.1706,
 'DN10557': 4.28348,
 'DN10582': 158.40435,
 'DN10590': 30.08064,
 'DN10588': 11.3671683,
 'DN10576': 3.55896,
 'DN10583': 27.526137,
 'DN10534': 26.4192,
 'DN10544': 27.7505,
 'DN10589': 3.508506,
 'DN10519': 1127.50854,
 'DN10540': 3.3190682000000007,
 'DN10502': 10.43399,
 'DN10563': 79.90972,
 'DN10598': 9.535501,
 'DN10525': 6.586146268653001,
 'DN10594': 14.60094,
 'DN10573': 11.40174,
 'DN10529': 211.65300000000002,
 'DN10518': 189.73183999999998,
 'DN10550': 8.42991,
 'DN10549': 29.0855,
 'DN10542': 12.50608,
 'DN10551': 20.959026,
 'DN10500': 5.644625,
 'DN10570': 11.93392,
 'DN10558': 18.67039,
 'DN10565': 12.712644,
 'DN10536': 2.83068,
 'DN10567': 5.386455,
 'DN10555': 3.64192,
 'DN10556': 17.740160036272,
 'DN10587': 8.97924,
 'DN10571': 31.161054999999998,
 'DN10530': 32.2488,
 'DN10505': 4.960312999999999,
 'DN10501': 7.314620000000001,
 'DN10508': 27.064909999999998,
 'DN10586': 4.2884,
 'DN16893': 20.675649000000003,
 'DN16887': 52.674279999999996,
 'DN16896': 11.629519,
 'DN16809': 13.577539000592921,
 'DN16829': 1563.413,
 'DN16894': 19.460466,
 'DN16823': 12.649451000000001,
 'DN16895': 11.339714,
 'DN16830': 7.92635,
 'DN16875': 35.12588003,
 'DN16802': 18.213720000000002,
 'DN16860': 26.86641190276,
 'DN16859': 19.76441,
 'DN16811': 144.29093799999998,
 'DN16835': 144.47101999999998,
 'DN16838': 178.210119,
 'DN16869': 28.00462,
 'DN16863': 15.311089999999998,
 'DN16852': 17.281324,
 'DN16856': 10.527066,
 'DN16839': 13.680349999999999,
 'DN16828': 17.434121,
 'DN16886': 10.463709999999999,
 'DN16817': 3.57329,
 'DN16857': 4.96258,
 'DN16889': 18.830035,
 'DN16884': 15.57322,
 'DN16813': 4.85637,
 'DN16816': 11.083853999999999,
 'DN16880': 46.51992,
 'DN16804': 15.61403,
 'DN16807': 77.5339,
 'DN16848': 9.819139999999999,
 'DN16877': 49.207789999999996,
 'DN16843': 41.141784,
 'DN16879': 10.12577,
 'DN16890': 40.51656741506001,
 'DN16876': 16.027939999999997,
 'DN16892': 6.5996308,
 'DN16853': 11.29555,
 'DN16841': 48.511276,
 'DN16808': 13.526370000000002,
 'DN16847': 13.909147999999998,
 'DN16868': 28.8485551,
 'DN16803': 27.56837,
 'DN16885': 9.82657,
 'DN16855': 12.022279999999999,
 'DN16833': 14.927333999999998,
 'DN16864': 28.209243,
 'DN16827': 75.08009700000001,
 'DN16866': 16.42337,
 'DN16898': 30.46984,
 'DN16822': 25.04654,
 'DN16836': 22.255609999999997,
 'DN16871': 48.81358,
 'DN16899': 183.95073000000002,
 'DN16831': 26.283299999999997,
 'DN16862': 16.260885,
 'DN16815': 39.61193,
 'DN16805': 22.38223,
 'DN16870': 85.67307999999998,
 'DN16897': 25.81446,
 'DN16806': 15.872876,
 'DN16834': 8.33417,
 'DN16840': 24.50379,
 'DN16821': 22.89993,
 'DN16861': 22.19294,
 'DN16825': 44.762422,
 'DN16814': 8.07789,
 'DN16810': 76.59361,
 'DN16882': 65.2987616,
 'DN16850': 5.8194420000000004,
 'DN16842': 11.14364,
 'DN16846': 9.437213,
 'DN16849': 29.786596,
 'DN16824': 6.428252583,
 'DN16801': 6.95534,
 'DN16800': 13.476500000000001,
 'DN16819': 43.828053999999995,
 'DN16832': 7.36825,
 'DN16837': 8.3875,
 'DN16867': 9.295429,
 'DN16854': 45.85068,
 'DN16873': 5.24908,
 'DN16865': 4.029192999999999,
 'DN16844': 21.21621,
 'DN16818': 26.842030077836895,
 'DN16826': 164.64854,
 'DN16883': 10.143130000000001,
 'DN16845': 53.763086,
 'DN16881': 9.342073,
 'DN16820': 7.700709999999999,
 'DN16891': 105.66624730000001,
 'DN16888': 13.820599999999999,
 'DN16872': 21.22023,
 'DN16858': 133.255878,
 'DN16878': 17.91469,
 'DN16851': 107.999,
 'DN16874': 50.602371999999995,
 'DN16812': 14.760766,
 'DN2387': 2.73177,
 'DN2370': 18.07991,
 'DN2320': 2.26381,
 'DN2301': 4.771433,
 'DN2376': 4.51206,
 'DN2332': 14.13409,
 'DN2306': 14.065280000000001,
 'DN2375': 9.775604999999999,
 'DN2316': 4.47655,
 'DN2354': 5.2654,
 'DN2311': 14.577523,
 'DN2318': 1.8741599999999998,
 'DN2371': 1.52417,
 'DN2300': 1.5003600000000001,
 'DN2319': 47.087903,
 'DN2344': 5.91355,
 'DN2334': 2.271132,
 'DN2368': 2.6132660000000003,
 'DN2333': 4.22376,
 'DN2336': 8.419462,
 'DN2328': 3.6616,
 'DN2386': 2.97626,
 'DN2380': 6.84592,
 'DN2323': 9.308228,
 'DN2363': 3.9404600000000003,
 'DN2379': 1.8348849999999999,
 'DN2325': 10.1775,
 'DN2377': 9.13312,
 'DN2357': 31.975769999999997,
 'DN2343': 9.17239,
 'DN2384': 8.37684,
 'DN2317': 3.72416,
 'DN2322': 14.7593,
 'DN2330': 3.919044,
 'DN2399': 1.8526,
 'DN2302': 1.49615,
 'DN2362': 27.95789,
 'DN2314': 10.1459,
 'DN2335': 3.27121,
 'DN2353': 3.2576099999999997,
 'DN2383': 1.08867,
 'DN2359': 46.72493,
 'DN2367': 2.04598,
 'DN2360': 1.7486200000000003,
 'DN2393': 31.3748,
 'DN2324': 31.5034,
 'DN2339': 4.5422,
 'DN2346': 4.0061,
 'DN2327': 15.3376,
 'DN2309': 1.56892,
 'DN2372': 4.3861300000000005,
 'DN2389': 6.14356,
 'DN2303': 8.641449999999999,
 'DN2351': 2.4737590000000003,
 'DN2361': 5.29665,
 'DN2352': 3.90979,
 'DN2349': 3.37661,
 'DN2356': 13.9347,
 'DN2355': 4.04286,
 'DN2373': 13.562850000000001,
 'DN2338': 12.10056,
 'DN2365': 21.4967,
 'DN2337': 3.8238199999999996,
 'DN2308': 1.592349,
 'DN2331': 3.02034,
 'DN2364': 16.075688,
 'DN2366': 21.946956000000004,
 'DN2350': 56.04834,
 'DN2307': 6.212440000000001,
 'DN18059': 9.232759999999999,
 'DN18087': 22.229044,
 'DN18049': 8.120339999999999,
 'DN18000': 97.109475,
 'DN18074': 14.107560000000001,
 'DN18073': 2231.161165,
 'DN18033': 23.87475,
 'DN18070': 57.23952800000001,
 'DN18017': 25.023877000000002,
 'DN18038': 69.12395000000001,
 'DN18051': 12.114077,
 'DN18056': 11.9011,
 'DN18053': 23.461996000000003,
 'DN18068': 20.390119,
 'DN18072': 32.86744,
 'DN18058': 345.5869,
 'DN18047': 13.13029,

In [ ]:
soma_tpm = pd.DataFrame(data=soma_tpm_dict.items(), columns=["DN", "tpm"])
soma_tpm

            DN        tpm
0       DN5078   2.849670
1       DN5046   2.392140
2       DN5074   2.212480
3       DN5003   2.680831
4       DN5043   9.961120
...        ...        ...
20342  DN21055  53.926235
20343  DN21020  56.568980
20344  DN21041  13.981581
20345  DN21000  11.738984
20346  DN21026  14.905800

[20347 rows x 2 columns]

In [ ]:
soma_tpm.describe()

                tpm
count  20347.000000
mean      49.147294
std      291.630128
min        0.560008
25%        5.387653
50%       13.064660
75%       30.306055
max    22118.767680

In [ ]:
soma_tpm["tpm"].sum()

999999.9833278442

In [ ]:
id.describe()

                tpm
count  69080.000000
mean      14.475970
std      103.016872
min        0.000000
25%        1.234065
50%        3.046705
75%        7.856638
max    14664.300000

In [ ]:
# pd.crosstab([id["C"], id["G"]], id["I"]) # nao faz sentido fazer isso

In [ ]:
# plt.figure(figsize=(12,12))
# plt.hist(id["I"], bins=50)
# plt.show()

In [ ]:
# plt.figure(figsize=(8,8))
# plt.hist(id["C"], bins=7)
# plt.show()

In [ ]:
# plt.figure(figsize=(8,8))
# plt.hist(id["G"], bins=10)
# plt.show()

In [ ]:
#conferindo o tamanho da tabela
#importante ter o mesmo numero de linhas que a tabela 'trinotate'
abundancia.shape

(69080, 5)

In [ ]:
#trocar o nome das colunas da tabela 'abundancia'
#isso facilitara a mesclagem das tabelas
abundancia.columns = ["transcript_id", "length", "eff_length", "est_counts", "tpm"]
abundancia.head()

             transcript_id  length  eff_length  est_counts       tpm
0  TRINITY_DN5078_c0_g1_i1     629     479.808    11.47500  1.275230
1  TRINITY_DN5078_c0_g1_i2     675     525.785    15.52500  1.574440
2  TRINITY_DN5046_c0_g1_i1     595     445.808    20.00000  2.392140
3  TRINITY_DN5074_c0_g1_i1     583     433.808    18.00000  2.212480
4  TRINITY_DN5003_c0_g1_i1     685     535.785     4.16427  0.414431

In [ ]:
#juntar as tabelas 'trinotate' e 'abundancia' pela coluna 'trascript_id'
trinotate_edit = pd.merge(trinotate, abundancia, on="transcript_id")

#agora a tabela nova 'trinotate_edit' tem os dados das duas tabelas anteriores
trinotate_edit.head()

               #gene_id            transcript_id  ... est_counts       tpm
0  TRINITY_DN5078_c0_g1  TRINITY_DN5078_c0_g1_i1  ...   11.47500  1.275230
1  TRINITY_DN5078_c0_g1  TRINITY_DN5078_c0_g1_i2  ...   15.52500  1.574440
2  TRINITY_DN5046_c0_g1  TRINITY_DN5046_c0_g1_i1  ...   20.00000  2.392140
3  TRINITY_DN5074_c0_g1  TRINITY_DN5074_c0_g1_i1  ...   18.00000  2.212480
4  TRINITY_DN5003_c0_g1  TRINITY_DN5003_c0_g1_i1  ...    4.16427  0.414431

[5 rows x 20 columns]

In [ ]:
#fazer uma serie com os codigos uniprot
#a partir desses codigos sera possivel identificar a classe enzimatica
codigos_uniprot = trinotate["sprot_Top_BLASTP_hit"]
codigos_uniprot

0                                                        .
1                                                        .
2                                                        .
3                                                        .
4                                                        .
                               ...
69075    GEFP_DICDI^GEFP_DICDI^Q:443-673,H:1269-1498^37...
69076    GEFA_DICDI^GEFA_DICDI^Q:436-592,H:348-509^35.5...
69077    GEFP_DICDI^GEFP_DICDI^Q:674-904,H:1269-1498^37...
69078    GEFP_DICDI^GEFP_DICDI^Q:298-528,H:1269-1498^37...
69079    ATC4_YEAST^ATC4_YEAST^Q:18-1356,H:176-1459^43....
Name: sprot_Top_BLASTP_hit, Length: 69080, dtype: object

In [ ]:
#aqui o texto de cada linha da serie sera dividido em varias colunas
#em todos os caracteres '^'
lista_uniprot = pd.DataFrame(r.split("^") for r in codigos_uniprot)
lista_uniprot

               0           1                      2   ...    82    83    84
0               .        None                   None  ...  None  None  None
1               .        None                   None  ...  None  None  None
2               .        None                   None  ...  None  None  None
3               .        None                   None  ...  None  None  None
4               .        None                   None  ...  None  None  None
...           ...         ...                    ...  ...   ...   ...   ...
69075  GEFP_DICDI  GEFP_DICDI  Q:443-673,H:1269-1498  ...  None  None  None
69076  GEFA_DICDI  GEFA_DICDI    Q:436-592,H:348-509  ...  None  None  None
69077  GEFP_DICDI  GEFP_DICDI  Q:674-904,H:1269-1498  ...  None  None  None
69078  GEFP_DICDI  GEFP_DICDI  Q:298-528,H:1269-1498  ...  None  None  None
69079  ATC4_YEAST  ATC4_YEAST   Q:18-1356,H:176-1459  ...  None  None  None

[69080 rows x 85 columns]

In [ ]:
#selecionar a primeira coluna da tabela criada com os codigos uniprot
#cada codigo entra apenas uma vez nessa serie
uniprot = np.unique(lista_uniprot[0])

#retirar os '.' da serie para sobrar apenas os codigos
uniprot_novo = np.delete(uniprot, np.where(uniprot == "."))

In [ ]:
#salvar um arquivo de texto novo com os codigos uniprot
#o aquivo 'codigos_uniprot.txt' sera baixado no computador
f = open("codigos_uniprot.txt", "w")
for i in uniprot_novo:
  f.write(f'{i}\n')
f.close()
files.download("codigos_uniprot.txt")

O arquivo criado anteriormente deve ser usado na ferramenta **Retrieve/ID mapping** do Uniprot , no site:<br>https://www.uniprot.org/uploadlists/

1. Clique em ```Browse...``` e selecione o aquivo ```codigos_uniprot.txt```
2. As opções devem ser ```From - UniprotKB AC/ID``` e ```To - UniprotKB```
3. Clique em ```Submit```
4. Quando finalizar o processo, clique em ```Columns```. Selecione todas as colunas de interesse e clique em ```Save```<br>
**IMPORTANTE: a coluna ```EC number``` deve ser selecionada**<br>
5. Clique em ```Download```, selecione o formato ```Tab-separated``` e ```Go```
6. Faça upload do arquivo baixado no google drive

In [ ]:
#criando uma tabela nova com apenas uma coluna dos codigos uniprot
entry_name = pd.DataFrame(lista_uniprot[0])
entry_name.columns = ["Entry name"]

#conferindo o tamanho da tabela
entry_name.shape

(69080, 1)

In [ ]:
#adicionando a tabela criada anteriormente na tabela principal
trinotate_edit1 = trinotate_edit.join(entry_name)
trinotate_edit1.shape

(69080, 21)

In [ ]:
#carregando a tabela que foi baixada do uniprot
#o nome do aquivo baixado do uniprot aqui se chama 'RMA_uniprot.tab'
#substitua pelo endereço do arquivo com o nome que salvou
rma_uniprot = pd.read_csv("/content/drive/MyDrive/RMA/RMA_uniprot.tab", sep="\t")
rma_uniprot
#repare que nao tem o mesmo numero de linhas que a tabela principal

        Entry   Entry name  ... Pharmaceutical use Toxic dose
0      P93212  14337_SOLLC  ...                NaN        NaN
1      P92177  1433E_DROME  ...                NaN        NaN
2      Q99002   1433_TRIHA  ...                NaN        NaN
3      Q8GYY0  1A112_ARATH  ...                NaN        NaN
4      Q6PD03   2A5A_MOUSE  ...                NaN        NaN
...       ...          ...  ...                ...        ...
11362  O48626   ZW10_ARATH  ...                NaN        NaN
11363  O43264   ZW10_HUMAN  ...                NaN        NaN
11364  Q5SSH7  ZZEF1_MOUSE  ...                NaN        NaN
11365  Q8IYH5   ZZZ3_HUMAN  ...                NaN        NaN
11366  Q6KAQ7   ZZZ3_MOUSE  ...                NaN        NaN

[11367 rows x 14 columns]

In [ ]:
#mesclar as tabelas do uniprot com a tabela principal pela coluna 'Entry name'
trinotate_edit2 = pd.merge(trinotate_edit1, rma_uniprot, on="Entry name")
trinotate_edit2
#o numero de linhas eh menor pois nem todas as linhas iniciais tem uma proteina
#correspondente no banco de dados do uniprot
#aquelas sequencias que tinham um '.' no lugar do codigo uniprot
#nao aparecem nessa nova tabela

                    #gene_id  ... Toxic dose
0       TRINITY_DN5043_c0_g1  ...        NaN
1       TRINITY_DN3416_c0_g1  ...        NaN
2       TRINITY_DN5061_c0_g1  ...        NaN
3       TRINITY_DN5028_c0_g1  ...        NaN
4       TRINITY_DN5028_c0_g1  ...        NaN
...                      ...  ...        ...
44678  TRINITY_DN21052_c0_g1  ...        NaN
44679  TRINITY_DN21000_c0_g1  ...        NaN
44680  TRINITY_DN21000_c0_g1  ...        NaN
44681  TRINITY_DN21000_c0_g1  ...        NaN
44682  TRINITY_DN21000_c0_g1  ...        NaN

[44683 rows x 34 columns]

In [ ]:
trinotate_edit2.shape

(44683, 34)

In [ ]:
# id = abundancia["target_id"].str.split("_", expand=True)
DN = trinotate_edit2["#gene_id"].str.split("_", expand=True)
DN

             0        1   2   3
0      TRINITY   DN5043  c0  g1
1      TRINITY   DN3416  c0  g1
2      TRINITY   DN5061  c0  g1
3      TRINITY   DN5028  c0  g1
4      TRINITY   DN5028  c0  g1
...        ...      ...  ..  ..
44678  TRINITY  DN21052  c0  g1
44679  TRINITY  DN21000  c0  g1
44680  TRINITY  DN21000  c0  g1
44681  TRINITY  DN21000  c0  g1
44682  TRINITY  DN21000  c0  g1

[44683 rows x 4 columns]

In [ ]:
trinotate_edit3 = trinotate_edit2.join(DN)
trinotate_edit3

                    #gene_id             transcript_id  ...   2   3
0       TRINITY_DN5043_c0_g1   TRINITY_DN5043_c0_g1_i1  ...  c0  g1
1       TRINITY_DN3416_c0_g1   TRINITY_DN3416_c0_g1_i1  ...  c0  g1
2       TRINITY_DN5061_c0_g1   TRINITY_DN5061_c0_g1_i1  ...  c0  g1
3       TRINITY_DN5028_c0_g1   TRINITY_DN5028_c0_g1_i1  ...  c0  g1
4       TRINITY_DN5028_c0_g1   TRINITY_DN5028_c0_g1_i2  ...  c0  g1
...                      ...                       ...  ...  ..  ..
44678  TRINITY_DN21052_c0_g1  TRINITY_DN21052_c0_g1_i5  ...  c0  g1
44679  TRINITY_DN21000_c0_g1  TRINITY_DN21000_c0_g1_i1  ...  c0  g1
44680  TRINITY_DN21000_c0_g1  TRINITY_DN21000_c0_g1_i3  ...  c0  g1
44681  TRINITY_DN21000_c0_g1  TRINITY_DN21000_c0_g1_i4  ...  c0  g1
44682  TRINITY_DN21000_c0_g1  TRINITY_DN21000_c0_g1_i6  ...  c0  g1

[44683 rows x 38 columns]

In [ ]:
trinotate_edit3.shape

(44683, 38)

In [ ]:
trinotate_edit3.drop(0, axis=1, inplace=True)
trinotate_edit3.drop(2, axis=1, inplace=True)
trinotate_edit3.drop(3, axis=1, inplace=True)
trinotate_edit3

                    #gene_id             transcript_id  ... Toxic dose        1
0       TRINITY_DN5043_c0_g1   TRINITY_DN5043_c0_g1_i1  ...        NaN   DN5043
1       TRINITY_DN3416_c0_g1   TRINITY_DN3416_c0_g1_i1  ...        NaN   DN3416
2       TRINITY_DN5061_c0_g1   TRINITY_DN5061_c0_g1_i1  ...        NaN   DN5061
3       TRINITY_DN5028_c0_g1   TRINITY_DN5028_c0_g1_i1  ...        NaN   DN5028
4       TRINITY_DN5028_c0_g1   TRINITY_DN5028_c0_g1_i2  ...        NaN   DN5028
...                      ...                       ...  ...        ...      ...
44678  TRINITY_DN21052_c0_g1  TRINITY_DN21052_c0_g1_i5  ...        NaN  DN21052
44679  TRINITY_DN21000_c0_g1  TRINITY_DN21000_c0_g1_i1  ...        NaN  DN21000
44680  TRINITY_DN21000_c0_g1  TRINITY_DN21000_c0_g1_i3  ...        NaN  DN21000
44681  TRINITY_DN21000_c0_g1  TRINITY_DN21000_c0_g1_i4  ...        NaN  DN21000
44682  TRINITY_DN21000_c0_g1  TRINITY_DN21000_c0_g1_i6  ...        NaN  DN21000

[44683 rows x 35 columns]

In [ ]:
trinotate_edit3.to_csv("/content/drive/MyDrive/anotadosRMA.csv", index = False)

In [ ]:
dn_ec = pd.concat([trinotate_edit3[1], trinotate_edit3["EC number"]], axis=1, keys=["DN", "EC number"])
dn_ec

            DN         EC number
0       DN5043               NaN
1       DN3416               NaN
2       DN5061  3.1.2.-; 3.1.2.2
3       DN5028               NaN
4       DN5028               NaN
...        ...               ...
44678  DN21052               NaN
44679  DN21000               NaN
44680  DN21000               NaN
44681  DN21000               NaN
44682  DN21000               NaN

[44683 rows x 2 columns]

In [ ]:
dn_ec_tpm = dn_ec.merge(soma_tpm, on="DN")
dn_ec_tpm

            DN         EC number        tpm
0       DN5043               NaN    9.96112
1       DN3416               NaN    4.37770
2       DN5061  3.1.2.-; 3.1.2.2    9.89356
3       DN5028               NaN   16.90878
4       DN5028               NaN   16.90878
...        ...               ...        ...
44678  DN21036               NaN   32.25873
44679  DN21036               NaN   32.25873
44680  DN21025           1.-.-.-  352.27270
44681  DN21025           1.-.-.-  352.27270
44682  DN21025           1.-.-.-  352.27270

[44683 rows x 3 columns]

In [ ]:
dn_ec_tpm2 = soma_tpm.merge(dn_ec, on="DN")
dn_ec_tpm2.shape

(44683, 3)

In [ ]:
dn_ec_tpm2.to_csv("/content/drive/MyDrive/transcritosRMA.csv", index = False)

In [ ]:
# deletei uma celula que pegava so as enzimas

In [ ]:
# ec_edit.to_csv("/content/drive/MyDrive/enzimasRMA.csv", index = False)

In [ ]:
# pd.read_csv("/content/drive/MyDrive/enzimasRMA.csv")